/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --first-color: #DA2535;
    --first-color-alt: #C42130;
    --first-color-send: #DE3B49;
    --title-color: #161212;
    --text-color: #5B5757;
    --text-color-light: #8F8A8A;
    --body-color: #FEFBFB;
    --container-color: #FFF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*========== BASE ==========*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color-send: #161212;
    --title-color: #F3F1F1;
    --text-color: #D1C7C8;
    --body-color: #251D1E;
    --container-color: #302728;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== CLASS CSS ==========*/
.section {
    padding: 4rem 0 2rem;
}

.section-title, .section-title-center {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.afdian_shop  {
    overflow: hidden;
}

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

/*========== NAV ==========*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 0 4px rgba(0, 0, 0, .1);
        border-radius: 2rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link, .nav__logo, .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__link {
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.tooltip-container .nav__link:hover {
    color: #5b46e8;
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show menu */
.show-menu {
    top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-bottom: solid 0.2em #a940fd;
}

/* Scroll top */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(218, 37, 53, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color);
}

.scrolltop__icon {
    font-size: 1.5rem;
    color: var(--body-color);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container {
    row-gap: .5rem;
}

.home__img {
    width: 280px;
    justify-self: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-2);
}

.home__description {
    margin-bottom: var(--mb-3);
}

/*========== BUTTONS ==========*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button-link {
    background: none;
    padding: 0;
    color: var(--first-color);
}

.button-link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

/*========== SHARE ==========*/
.share__data {
    text-align: center;
}

.share__description {
    margin-bottom: var(--mb-2);
}

.share__img {
    width: 280px;
    justify-self: center;
}

/*========== DECORATION ==========*/
.decoration__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.decoration__data {
    text-align: center;
    padding: 1rem 1rem 2rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
    border-radius: 1rem;
}

.decoration__data:hover {
    box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.decoration__img {
    width: 180px;
}

.decoration__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

/*========== ACCESSORIES ==========*/
.accessory__container {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
}

.accessory__content {
    position: relative;
    display: grid;
    padding: .25rem .75rem .75rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
    border-radius: 1rem;

    place-content: center;
    place-items: center;
    overflow: hidden;
}

.accessory__content:hover {
    box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.accessory__content::before {
    content: '';
    background-color: var(--container-color);
    position: absolute;
    width: 18%;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: -1;
}

.accessory__content::after {
    content: '';
    position: absolute;
    background: var(--container-color);;
    inset: 5px;
    border-radius: 15px;
    z-index: -1;
}

.accessory__img {
    width: 110px;
    justify-self: center;
    margin-bottom: .25rem;
}

.accessory__title, .accessory__category {
    text-align: center;
}

.accessory__title {
    font-size: var(--normal-font-size);
}

.accessory__category {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: var(--text-color-light);

    overflow: hidden;
    max-height: 8em;
}

.accessory__preci {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.accessory__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.25rem;
    padding: .5rem .625rem;
    border-radius: 1rem 0 1rem 0;
}

/*========== SEND GIFT ==========*/
.send {
    background-color: var(--first-color-send);
}

.send__title, .send__description {
    color: #fff;
}

.send__description {
    text-align: center;
    margin-bottom: var(--mb-4);
}

.send__direction {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: .5rem;
    border-radius: .5rem;
}

.send__input {
    width: 70%;
    outline: none;
    border: none;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.send__input::placeholder {
    font-family: var(--body-font);
}

.send__img {
    width: 280px;
    justify-self: center;
}

/*========== FOOTER ==========*/
.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo {
    color: var(--title-color);
}

.footer__title {
    margin-bottom: var(--mb-2);
}

.footer__logo, .footer__title {
    font-size: var(--h3-font-size);
}

.footer__link {
    display: inline-block;
    margin-bottom: .75rem;
    color: var(--text-color);
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-3);
}

.footer__social:hover {
    color: var(--first-color);
}

.footer__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
    .home__img,
    .share__img,
    .send__img {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .home__container,
    .share__container,
    .send__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .home__container {
        padding: 5rem 0 0;
    }

    .home__img {
        order: 1;
    }

    .section-title-center,
    .share__data,
    .send__description {
        text-align: initial;
    }

    .home__img,
    .share__img,
    .send__img {
        width: 100%;
    }

    .share__img {
        order: -1;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 7rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .change-theme {
        position: initial;
        margin-left: var(--mb-4);
    }

    .home__container {
        padding: 7rem 2rem 0;
    }

    .share__container {
        padding: 0 2rem;
    }

    .accessory__container {
        grid-template-columns: repeat(3, 224px);
        justify-content: center;
    }

    .accessory__content {
        padding: .5rem 1.5rem 1.5rem;
    }

    .accessory__img {
        width: 120px;
        margin-bottom: var(--mb-1);
    }

    .accessory__title, .accessory__category {
        text-align: initial;
    }

    .accessory__button {
        padding: .75rem;
    }

    .send {
        background: none;
    }

    .send__container {
        background-color: var(--first-color-send);
        padding: 2rem;
        border-radius: 1.5rem;
    }
}

@media screen and (min-width: 968px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img,
    .share__img,
    .send__img {
        width: 469px;
    }

    .home__container,
    .share__container,
    .send__container {
        column-gap: 5rem;
    }
}

/* From Uiverse.io by MuhammadHasann */
.card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(266, 92%, 58%);

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 19em;
    padding: 1rem;
    height: 25em;
    margin-left: 1em;
    margin-top: 2em;
    float: left;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(
            at 88% 40%,
            hsla(240, 15%, 9%, 1) 0px,
            transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);

    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.card .card__border {
    overflow: hidden;
    pointer-events: none;

    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(
            0deg,
            hsl(0, 0%, 100%) -50%,
            hsl(0, 0%, 40%) 100%
    );

    border-radius: 1rem;
}

.card .card__border::before {
    content: "";
    pointer-events: none;

    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), rotate(0deg);
    transform-origin: left;

    width: 200%;
    height: 10rem;
    background-image: linear-gradient(
            0deg,
            hsla(0, 0%, 100%, 0) 0%,
            hsl(277, 95%, 60%) 40%,
            hsl(277, 95%, 60%) 60%,
            hsla(0, 0%, 40%, 0) 100%
    );

    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.card .card_title__container .card_title {
    font-size: 1rem;
    color: var(--white);
}

.card .card_title__container .card_paragraph {
    margin-top: 0.25rem;
    width: 99%;
    color: var(--paragraph);
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 20em;
    font-size: 12px;
    height: 10em;
}

.card .card_title__container .card_paragraph::-webkit-scrollbar {
    display: none;
}

.card .line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);

    border: none;
}

.card .card__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card .card__list .card__list_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .card__list .card__list_item .check {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1rem;
    height: 1rem;
    background-color: var(--primary);

    border-radius: 50%;
}

.card .card__list .card__list_item .check .check_svg {
    width: 0.75rem;
    height: 0.75rem;

    fill: var(--black);
}

.card .card__list .card__list_item .list_text {
    font-size: 0.75rem;
    color: var(--white);
}

.card .button {
    cursor: pointer;

    padding: 0.5rem;
    width: 100%;
    background-image: linear-gradient(
            0deg,
            rgba(94, 58, 238, 1) 0%,
            rgba(197, 107, 240, 1) 100%
    );

    font-size: 0.75rem;
    color: var(--white);

    border: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -2px 25px -4px var(--white);
}

.card__border_img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

/* 特效 */
/* From Uiverse.io by gharsh11032000 */
.title_special {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.title_special::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.title_special::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.title_special:hover::after {
    filter: blur(30px);
}

.title_special:hover::before {
    transform: rotate(-180deg);
}

.title_special:active::before {
    scale: 0.7;
}

.title_special a:hover {
    color: #a940fd;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* From Uiverse.io by Siyu1017 */
.tooltip-container {
    position: relative;
    transition: all 0.2s;
    padding: 1rem 0;
    width: fit-content;
    box-sizing: border-box;
    --bg: linear-gradient(135deg, #a940fd, #5b46e8);
    --color: #fff;
    --tooltip-bg: #303030;
    --tooltip-color: #fff;
    --margin: 0.5rem;
}

.text {
    z-index: 9;
    background: var(--bg);
    color: var(--color);
    padding: 0.7em 1.8em;
    border-radius: 0.75rem;
    height: fit-content;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.15);
}

.tooltip {
    position: absolute;
    top: calc(-1 * var(--margin));
    left: 50%;
    transform: translateX(-50%) translateY(0%) scale(0);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    background: var(--tooltip-bg);
    color: var(--tooltip-color);
    border-radius: 0.5rem;
    z-index: 99999;
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--tooltip-bg);
    border-bottom-right-radius: 0.175rem;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(-100%) scale(1);
}

/* From Uiverse.io by Galahhad */
.theme-switch {
    --toggle-size: 0.8em;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    font-size: var(--toggle-size);
    margin: 0 0 0 1em;
}

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* From Uiverse.io by SelfMadeSystem */
/* Yoinked from CodePen, but improved the animation
so that it is smooth among other more minor things */

.codepen_button {
    display: inline-flex;
    cursor: pointer;
    color: #000000;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
}

.codepen_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 25% 100%;
    animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.25s ease-out;
}

.codepen_button:hover::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
    to {
        transform: translateX(-25%);
    }
}

.codepen_button span {
    position: relative;
    display: block;
    padding: 0.1rem 0.5rem;
    font-size: 1.1rem;
    background: #ffffff;
    border-radius: 3px;
    height: 100%;
}

.card_paragraph a{
    color: #fff;
}



